# Manually listed requirements
albumentations
h5py
huggingface-hub
kaleido
mmcv
mmsegmentation
opencv-python-headless
opencv-python==4.7.0.68
pypdf2==1.26.0
pytorch-lightning==1.8.6
scikit-learn==1.0.2
segmentation-models-pytorch==0.3.2
timm
torch
torchmetrics
torchvision
black
Cython
CairoSVG
debugpy
jupyter
nibabel
pandas
plotly
pydicom
pylibjpeg[all]
python-gdcm
seaborn
tabulate
termcolor
wandb
lightly
